:root {
    --background-color: #f4f4f4;
    --text-color: #333;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c0c0c0;
    width: 100%;
    max-width: 700px;
    margin: auto;
    /*default:*/
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}


/* funcionality for dark mode */
body.dark-mode {
    background-color: #222;
    color: #eee;
}

body.dark-mode input{
    background-color: #333;
    color: #cfcece;
}

body.dark-mode th{
    background-color: #bb86fc;
    color: #e7e6e6;
}

body.dark-mode button{
    background-color: #0c998b;
}

body.dark-mode footer{
    color: white;
}

body.dark-mode footer a{
    text-decoration: none;
    color: white;
}

body.dark-mode footer a:hover{
    text-decoration: underline;
    color:#e7e6e6;
}

body.dark-mode .menu-btn span {
    display: block;
    height: 4px;
    background: #ffffff;
    border-radius: 2px;
    transition: 0.3s;
}

/* buttons */

.buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    padding: 8px 12px;
    margin-top: 10px;
    background-color: #1e88e5;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.1s;
}

button:hover {
    background-color: #145a97;
}

button:active{
    font-size: 12px;
}

#toggle-mode{
    padding: 10px 20px;
    margin: 20px;
    background-color: #43a047;
    color: #ffff;
    border-radius: 5px;
    cursor: pointer;
}

/* table */

input {
    width: 90%;
    padding: 5px;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
}

th,td {
    border: 1px solid #bdbdbd;
    padding: 8px;
    text-align: center;
}

th {
    background: #a5eeee;
}

.result{
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

/* footer */

footer {
    margin-top: 75px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: black
}

footer a:hover{
    color: #494949;
    text-decoration: underline;
}
/* menu */

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
}

.menu-btn span {
    display: block;
    height: 4px;
    background: #333;
    border-radius: 2px;
    transition: 0.3s;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 50px;
    position: relative;
}

header h1{
    text-align: center;
    font-family: 'Arial';
    text-decoration: underline blue;
    font-style: italic;
    font-size: clamp(1.2rem, calc(2vw + 1rem), 4rem);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

/* sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: left 0.3s ease;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.sr-only {
    position: absolute;
    left: -9999px;
}